body {
	margin: 0;

	font-family: 'Noto Sans Mono', monospace;

    font-family: 'Roboto', sans-serif;

    color: #f0eded;

    background-size: cover;

    background-attachment: fixed;

    text-align: center;
}
.nav-link{
	color: white;
	background-color: black;
}
a.nav-item.nav-link.active{
	color: black;
	background-color: chartreuse;

}
#backindex{
	background: url("../img/sfondo.jpg");
	background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

header{
	background-color: black;
	color: white;
	text-align: center;
	font-family: 'Tekno', sans-serif;
	font-size: 1.8em
}
p{
	text-align: center;
	color: #f0eded;
	/*background-color: #464646;*/
}
#homelay{
	
}

#storialay{
}

#musicalay{

}

#ravelay{

}

#titolini{
	font-family: 'ArcadeClassic', sans-serif;                                            	
	font-size: x-large;
	margin-bottom: -3px;
	color: chartreuse;
}
.btn-sm{
	background: charteuse;
	color: black;
}

#bottone1{
	position: absolute;
	left: 625px;
	top: 337px;
	background: chartreuse;
	color: black;
}
#bottone2{
	position: absolute;
	left: 625px;
	top: 415px;
	background: chartreuse;
	color: black;
}
#bottone3{
	position: absolute;
	left: 625px;
	top: 493px;
	background: chartreuse;
	color: black;

}
#bottone4{
	position: absolute;
	left: 665px;
	top: 570px;
	background: chartreuse;
	color: black;
}
#soundcloudicon1{
	font-size: 2em;
	position: absolute;
}
#soundcloudicon2{
	font-size: 2em;
	position: absolute;
	top: 375px;
}
#soundcloudicon3{
	font-size: 2em;
	position: absolute;
	top: 455px;
}
#soundcloudicon4{
	font-size: 2em;
	position: absolute;
	top: 533px;
}
#fraseparty{
    font-family: 'ArcadeClassic', sans-serif;                                            	
	font-size: xx-large;
	margin-bottom: -3px;
}
#musicaeterra{
    font-family: 'Noto Sans Mono', monospace;                                        	
	font-size: large;
	margin-bottom: -3px;
}	
#nascita{
	margin-bottom: .5rem;
	font-weight: 501;
	font-size: 1.6rem;
	color: chartreuse;
}
#elencoartisti{
	margin-bottom: .5rem;
	font-weight: 501;
	font-size: 1.2rem;
}                                 

#sfondomusica { max-width: 103%;
	margin: 0px 0% 0%;
	opacity: 0.8;
	/*transition: opacity .5s ease-in-out;*/
}

#sfondostoria { max-width: 103%;
	margin: 0px 0% 0%;
	opacity: 0.8;
	background-image; 
	text-align: center;
}

#sfondorave { max-width: 103%;
	margin: 0px 0% 0%;
	opacity: 0.8;
	/*transition: opacity .5s ease-in-out;*/
}

#buttonstoria {
  background-color: #c423aa;
  color:beige;
  background-position: center-center;
  font-size: 25px;
  position: absolute;
  top: 38px; left: 525px;
}
#buttonmusica {
	background-color: #0ddd25;
	color: beige;
	background-position: center-center;
	font-size: 25px;
    position: absolute;
    top: 38px; left: 525px;
}
#buttonrave {
	background-color: #afdb0d;
	color: beige;
	background-position: center-center;
	font-size: 25px;
    position: absolute;
    top: 38px; left: 525px;
}
.container {
 position: relative;
}
#cssstoria {
	background: url("..img/sfondostoria.jpg");

}
